https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
TgCrypto
motor
pymongo
python-dotenv
requests
datetime
pytz
pandas
Jinja2 
openpyxl 
googletrans==4.0.0-rc1
fpdf

#Koyeb Support 

Flask
gunicorn
aiohttp